<!DOCTYPE html>
<html lang="en">

<head>
  <title> Commath </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  {% block content %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"">
            <li class=" nav-item dropdown">
    <a class=" navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">HOMEWORK</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/dec_32">IEEE floating point single precision (32-bit)</a>
      <a class="dropdown-item" href="/dec_64">IEEE floating point double precision (64-bit)</a>
      <a class="dropdown-item" href="/solve">System of linear equations</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Out Something else here</a>
    </div>
    </li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->

        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>

    </div>
  </nav>
  <section id="home-sec">

    <div class="jumbotron text-center">
      <h1>Computational Mathematics</h1>
    </div>

  </section>
  <section>
    <br>
    <br>

    <center>

      <button type="button" class="btn btn-warning" onclick="window.location.href = '/dec_32'">
        <h3> แปลงเลขทศนิยมเป็น <br> IEEE floating point single precision (32-bit)</h3>
      </button>
      <br>
      </br>
      <p><button type="button" class="btn btn-warning" onclick="window.location.href = '/dec_64'">
          <h3> แปลงเลขทศนิยมเป็น <br> IEEE floating point single precision (64-bit)</h3>
        </button></p>

      <p><button type="button" class="btn btn-warning" onclick="window.location.href = '/solve'">
          <h3>แก้ระบบสมการเชิงเส้น <br> $Ax = b$</h3>
        </button></p>

    </center>

  </section>

  {% endblock content %}
</body>

</html>